@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url(sidebar.css);
@import url(section.css);
@import url(cadastro.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-color: #2A2B2E;
}

body{
    height: 100vh;
    font-family: Open Sans;
}

section{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

main{
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 35px 10px;
}

.titulo h1{
    color: #F49E13;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; /* 87.5% */
}

@media screen and (max-width:768px){
    .aside{
        left: -100%;
        transition: .6s;
    }
    
    section{
        margin-left: 0;
    }
    .sidebar-button{
        display: inline-block;
    }
    
    .aside.active {
        transition: .6s;
        left: 0;
    }

    .button{
        flex-direction: column;
    }

}